#submit-btn {
    display: none;
}

#quiz-container {
    width: 50%;
    margin: 40px auto;
    text-align: center;
}

#options {
    list-style: none;
    padding: 0;
}

#options li {
    margin-bottom: 10px;#submit-btn {
  display: none;
}
}
