
.button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
}

.button:hover {
  background-color: #3e8e41;
}

@media only screen and (max-width: 768px) {
  .button {
    padding: 15px 30px;
    font-size: 18px;
  }
}
