.quiz-container {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-container {
  margin-bottom: 20px;
}

#timer {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

#result {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}#submit-btn {
  display: none;
}
